<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morty.testservice">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="UseBrider"></activity>

    <service android:name="CountService"></service>
    <activity android:name="UseBroadcast"></activity>
    <receiver android:name="UseBroadcastReceiver">
        <intent-filter>
            <action android:name="lovefang.stadyService" />
        </intent-filter>
    </receiver>
    <activity android:name="UseNotification"></activity>
    <activity android:name="UseAlarmManager"></activity>
    <activity android:name="UseHandleMessage"></activity>
    <activity android:name="UseAsyncTask"></activity>
    <activity android:name="UsePhoneState"></activity>
    <activity android:name="UseActionCall"></activity>
    <activity android:name="UseVibrator"></activity>
    </application>

</manifest>